<h1>data of cookies are:</h1>
<!--accessing data from create method-->
<h2>@ViewBag.saved</h2>
<!--retrieving cookie variable from test action method-->
<a href="Test">CheckCookie</a>
<span>@ViewBag.msg</span>

<!--https://localhost:7245/Cookie/Create-->